body,
header,
h1 {
  margin: 0;
}

header {
  background-color: #7943be;
  padding: 10px;
  height: 20%;
  border: 2px solid black;
  box-sizing: border-box;
}

body {
  background-image: url("assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Creepster", cursive;
  color: #ff7700;
}

main {
  height: 80%;
}

p {
  font-size: 20px;
  margin-top: 0px;
}

.title,
.text {
  text-align: center;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timer {
  background-color: black;
  padding: 5px;
  border: 1px solid #ff7700;
  margin: 0;
}

.start-btn,
.reset-btn {
  padding: 10px;
  border-radius: 10px;
  font-family: "Creepster", cursive;
  color: #ff7700;
  background-color: black;
  border: 1px solid #ff7700;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 25%;
  height: 20%;
  border: 1px solid black;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-card-front {
  background-color: #7943be;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the back side */
.flip-card-back {
  background-color: #ff7700;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-image {
  width: 100%;
  height: 100%;
}

.front-image {
  width: 100%;
  height: 100%;
  padding: 5% 25%;
  box-sizing: border-box;
}

.match {
  display: none;
}

.container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.end-message {
  position: relative;
  width: 50%;
  height: 50%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;

  background-color: black;
  color: #ff7700;
  padding: 5px;
  margin-top: 4px;
}

.win,
.lose {
  background-color: #7943be;
  border: 3px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.hide {
  display: none;
}

@media only screen and (min-width: 768px) {
  .flip-card {
    width: 20%;
  }
}
